#map{
  position: absolute;
  padding:0px;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.mat-list{
  position: absolute;
  padding: 0px;
  z-index: 999;
  width: 280px;
  height: 100%;
  top: 19px;
  left: -30px;
}
.mat-button{
  margin-left: 5px;
  font-size: 15px;
}

.example-card {
  max-width: 280px;

}

.mat-list-base .mat-list-item{
height: auto;
}

.mat-card-image {
  width: 50px;
  height: 50px;

margin-left: 165px;
}

.mat-card-content, .mat-card-subtitle{
  margin-right: 20px;
  margin-top: -10px;
}
.mat-card-header .mat-card-subtitle:not(:first-child) {
   margin-left: 48px;
}

.clicked{
  position: absolute;
  width: 280px;
  height: auto;
  left:250px;
  top:20px;
  z-index: 999;
}
.address{
  bottom: -10px;
}
.mat-icon{
  font-size: 40px;
  color:rgb(16, 135, 182);
  padding:10px;
}
.picture{
  width: 100%;
  height:200px;
  left: 50px;
  margin-left: 0px;
}
.mat-card-header .mat-card-subtitle:not(:first-child) {
margin-top: -47px;
}
